@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,900&display=swap');

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	
}
section{
	background-image: url(../img/tree.jpg);
	background-color: #333333b8;
	background-position: bottom;
	background-blend-mode: color;
	padding-top: 180px;
	padding-bottom: 180px;
}
.container{
	width: 1000px;
	margin: auto;
	padding-top: 220px;
	padding-bottom: 220px;
	
}

h1{
	font-size: 40px;
	color: #ef0808;
	
}
h1 strong{
	color: blue;
}
span{
	color: #b312e8;
}
p{
	color: #fff;
	font-size: 20px;
	line-height: 1.6;
}
i{

}
header{
	
background: aliceblue;
}
ul{

margin: 0;

padding: 0;

}

ul li{
	list-style-type: none;
	display: inline-block;
}

ul li a{

color: #fff;

font-size: 18px;

text-decoration: none;

text-transform: uppercase;

font-weight: 600;
background:  #38329af5;
padding: 15px;

display: block;
}

.btn{
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	font-size:20px;
	text-decoration: none;
	background: #b312e8;
	padding: 15px 25px;
	display: inline-block;
}

btn:hover{
	background-color:red;
}